<div class=" container mt-5 pb-4 border-bottom">
  <h2>Discover Girona</h2>
  <h3>Feel like you’re in a GoT scene at the Girona Cathedral</h3>
  <p>
    You can’t leave Girona without visiting one of the most impressive
    highlights of this city. Like a stairway to heaven, you have to climb all
    the Baroque staircases to get to the entrance of the Cathedral of Santa
    Maria de Girona. This cathedral was built in a Gothic style except for its
    western facade, which is in a Baroque style. As a curious fact, the
    Gothic-style nave of this cathedral is the widest in the world. If you’re a
    fan of Game of Thrones, we’re sure you’ll recognise the steps leading up to
    the Gothic cathedral. It’s where Circe begins her walk of shame from the
    Grand Sept of Baelor during the show’s sixth season, and where Jaime
    Lannister confronts the High Sparrow. Bear in mind that the opening times of
    the Cathedral are the following:
  </p>

  <ul>
    <li>July & August: 10 am to 7:30 pm.</li>
    <li>November to March: 10 am to 5:30 pm.</li>
    <li>Rest of the year: 10 am to 6:30 pm.</li>
  </ul>
  <img class="img-fluid rounded-3"
    src="https://res.cloudinary.com/tourhq/image/upload/c_fill,f_auto,fl_progressive,g_auto,h_370,q_auto:best,w_448/v4l2fhaqs68qobf8hfan"
    alt="got scene in girona"
  />
</div>
