<div class="container mt-5 pb-4 border-bottom">
	<h2>Star Wars</h2>
	<h3>Episode I - The Phantom Menace</h3>
	<p>
		The Trade Federation has upset order in the Galactic Republic by blockading
		the planet Naboo in secret preparation for a full-scale invasion. The
		Republic's leader, Supreme Chancellor Finis Valorum, dispatches Jedi Master
		Qui-Gon Jinn and his apprentice, Obi-Wan Kenobi, to negotiate with Trade
		Federation Viceroy Nute Gunray. Darth Sidious, a Sith Lord and the Trade
		Federation's secret benefactor, orders the Viceroy to kill the Jedi and
		begin their invasion with an army of battle droids. Qui-Gon and Obi-Wan
		escape and flee to Naboo. Amid the invasion, Qui-Gon rescues a bumbling
		Gungan outcast, Jar Jar Binks. Qui-Gon and Obi-Wan fail to persuade the
		Gungan leader Boss Nass to aid the planet's surface dwellers, but manage to
		obtain Jar Jar's guidance and underwater transport to Theed, the capital
		city of Naboo. After rescuing Queen Padmé Amidala, the group make their
		escape from Naboo aboard her Royal Starship, intending to reach the Republic
		capital planet of Coruscant.
	</p>
	<p>
		The ship is damaged passing through the Federation blockade, and the group
		lands for repairs on the outlying desert planet of Tatooine, situated beyond
		the Republic's jurisdiction. Qui-Gon, Jar Jar, astromech droid R2-D2, and
		Padmé—disguised as one of her handmaidens—visit the settlement of Mos Espa
		to purchase a new part for the hyperdrive. They encounter a junk dealer,
		Watto, and his nine-year-old slave Anakin Skywalker, a gifted pilot and
		engineer who has built a protocol droid, C-3PO. Qui-Gon senses a strong
		presence of the Force within Anakin and is convinced that he is the
		prophesied "Chosen One," destined to restore balance to the Force. With
		Watto refusing to accept payment in Republic currency, Qui-Gon wagers both
		the required hyperdrive part and Anakin's freedom in a podrace. Anakin wins
		the race and joins the group to be trained as a Jedi, leaving behind his
		mother, Shmi. En route to their starship, Qui-Gon is attacked by Darth Maul,
		Sidious's apprentice, who was sent to capture Amidala. After a brief
		lightsaber duel, Qui-Gon escapes on board the starship with the others.
	</p>
	<p>
		Qui-Gon and Obi-Wan escort Padmé to Coruscant so she can plead her people's
		case to Valorum and the Galactic Senate. Qui-Gon asks the Jedi Council for
		permission to train Anakin as a Jedi, but the Council refuses, concerned
		that Anakin is vulnerable to the dark side of the Force. Undaunted, Qui-Gon
		vows to train Anakin anyway. Naboo's Senator Palpatine persuades Amidala to
		call for a vote of no confidence in Valorum to elect a more capable leader
		and to resolve the crisis. Though she is successful in pushing for the vote,
		Amidala grows frustrated with the corruption in the Senate and decides to
		return to Naboo. Qui-Gon and Obi-Wan are ordered by the Jedi Council to
		accompany the queen and investigate the return of the Sith, whom they had
		believed to be extinct for more than a millennium.
	</p>
	<p>
		On Naboo, Padmé reveals herself as the queen before the Gungans and
		persuades them to join in an alliance against the Trade Federation. Jar Jar
		is promoted to general and joins his tribe in a battle against the droid
		army, while Padmé leads the search for Gunray in Theed. During a battle in a
		hangar, Anakin flees to a starfighter and accidentally triggers its
		autopilot, traveling to the battle against the Federation droid control ship
		and inadvertently causing its destruction from within, which deactivates the
		droid army. Meanwhile, Darth Maul infiltrates the Theed Palace and engages
		Qui-Gon and Obi-Wan in a lightsaber duel. Maul mortally wounds Qui-Gon
		before being bisected by Obi-Wan and falling down a shaft.[d] Before Qui-Gon
		dies, he asks Obi-Wan to train Anakin.
	</p>
	<p>
		Gunray is arrested by the Republic and Palpatine is elected Chancellor.
		Grand Master Yoda promotes Obi-Wan to the rank of Jedi Knight and
		reluctantly accepts Anakin as Obi-Wan's apprentice.
	</p>

	<img
		class="img-fluid rounded-3"
		src="https://sm.ign.com/t/ign_latam/image/s/star-wars-/star-wars-the-phantom-menace-to-return-to-theaters-this-may_ztwv.960.jpg"
		alt="25th anniversary poster" />
</div>
