.p {
	padding: 10px;
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	flex: 0 0 10%;
}

.nav {
	--bs-nav-link-color: var(--bs-success) !important;
	--bs-nav-link-hover-color: var(--bs-success-text-emphasis) !important;
}

main {
	flex: 1 1 80%;
	overflow-y: auto; /* Permite hacer scroll si el contenido excede el tamaño del main */
}

footer {
	flex: 0 0 10%;
}